body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img,
abbr {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
html,
body {
  font-family: 'Open Sans Condensed', sans-serif;
  background: #FAFAFA;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
.toTop {
  display: none;
  font-weight: 800;
  position: fixed;
  height: 40px;
  width: 40px;
  line-height: 40px;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 0;
  border-radius: 100%;
  font-size: 15px;
  background-size: 200% auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background: #bd4f5070;
  transition: all 0.5s;
}
.toTop:hover {
  text-decoration: none;
  color: #BD4F50;
  background-position: right center;
  cursor: pointer;
}
div,
p,
input,
form,
button,
span,
a {
  box-sizing: border-box;
}
button,
button:active,
button:focus {
  outline: 0;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 215px;
  padding-right: 215px;
}
@media screen and (max-width: 1200px) {
  .container {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media screen and (max-width: 900px) {
  .container {
    padding-left: 85px;
    padding-right: 85px;
  }
}
@media screen and (max-width: 500px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 320px) {
  .container {
    padding-left: 35px;
    padding-right: 35px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}
.menu {
  color: #000;
}
.top {
  background: #2E3537;
  padding: 14px 0;
}
.top .row {
  justify-content: space-between;
  align-items: center;
}
.top ul {
  display: flex;
}
.top ul li {
  display: inline;
}
.top .languages {
  margin: auto 0;
}
.top .languages img {
  width: 18px;
  height: auto;
}
.top .languages li {
  margin-right: 5px;
}
.top .location {
  color: #979a9b;
  margin: auto 0;
  font-size: 14px;
  font-weight: 600;
}
.top .location img {
  width: 10px;
  height: auto;
}
.top .location li {
  margin-right: 10px;
}
.top .phones {
  color: #ffffff;
  margin: auto 0;
  font-size: 14px;
  font-weight: 600;
}
.top .phones img {
  width: 15px;
  height: auto;
}
.top .phones li {
  margin-right: 10px;
}
.top .mail {
  margin: auto 0;
  font-size: 14px;
  font-weight: 600;
}
.top .mail img {
  width: 18px;
  height: auto;
}
.top .mail a {
  color: #979a9b;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
}
.top .mail li {
  margin-right: 10px;
}
.top .opt {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  background: #2E3537;
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 3px 15px;
  color: #ffffff;
  cursor: pointer;
  margin: auto 0;
}
.top .my_cart .result {
  display: inherit;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #ffffff;
}
.top .my_cart img {
  width: 16px;
  height: auto;
}
.top .my_cart li {
  position: relative;
  margin-right: 10px;
}
.top .my_cart li .badge {
  font-size: 9px;
  position: absolute;
  text-align: center;
  width: 15px;
  height: 15px;
  background: #ffffff;
  color: #000000;
  border: 1px solid #ffffff;
  border-radius: 100%;
  bottom: 0;
  left: -6px;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 65px;
  padding-right: 65px;
  position: relative;
}
.menu .logo img {
  padding-top: 5px;
  width: 300px;
  height: auto;
}
.menu nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
}
.menu .search {
  display: flex;
  align-items: center;
}
.menu .search input {
  font-size: 12px;
  color: #CCCCCC;
  padding: 5px;
  height: 25px;
  border: 1px solid #CCCCCC;
  width: 260px;
}
.menu .search button {
  border: 1px solid #31AAE2;
  color: #ffffff;
  font-size: 14px;
  background: #31AAE2;
  height: 25px;
  padding: 0 25px;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
}
/* Navigation Styles */
nav {
  position: relative;
}
ul.main-nav {
  list-style-type: none;
  padding: 0px;
  font-size: 0px;
  max-width: 700px;
  margin: 0 auto;
}
ul.main-nav > li {
  display: inline-block;
  padding: 32px 0;
}
ul.main-nav > li > a {
  display: block;
  padding: 0 10px;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  box-sizing: border-box;
  cursor: pointer;
}
ul.main-nav > li:hover {
  background-color: #ffffff;
}
ul.main-nav > li:hover > a {
  color: #31AAE2;
  font-weight: 600;
}
ul.main-nav > li ul.sub-menu-lists {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: block;
}
ul.main-nav > li ul.sub-menu-lists > li {
  padding: 2px 0;
}
ul.main-nav > li ul.sub-menu-lists > li > a {
  font-size: 14px;
}
.ic {
  position: fixed;
  cursor: pointer;
  display: inline-block;
  right: 25px;
  width: 32px;
  height: 24px;
  text-align: center;
  top: 0px;
  outline: none;
}
.ic.close {
  opacity: 0;
  font-size: 0px;
  font-weight: 300;
  color: #fff;
  top: 8px;
  height: 40px;
  display: block;
  outline: none;
}
/* Menu Icons for Devices*/
.ic.menu {
  top: 25px;
  z-index: 20;
}
.ic.menu .line {
  height: 4px;
  width: 100%;
  display: block;
  margin-bottom: 6px;
  background: #707070;
}
.ic.menu .line-last-child {
  margin-bottom: 0px;
}
.sub-menu-head {
  margin: 10px 0;
}
.banners-area {
  margin-top: 20px;
  padding-top: 15px;
}
.top-level-link .sub-menu-block {
  text-align: center;
}
.top-level-link .sub-menu-block ul li {
  text-align: center;
}
.main_catalogue .main_title {
  justify-content: center;
  margin-bottom: 55px;
}
.main_catalogue h2 {
  font-size: 40px;
  font-weight: 300;
  color: #2E3537;
  text-align: center;
}
.main_catalogue h2 .blue {
  color: #31AAE2;
}
.main_catalogue h2::after {
  margin-top: 15px;
  display: block;
  content: " ";
  width: 560px;
  height: 2px;
  border-bottom: 1px solid #CCCCCC;
}
.main_catalogue .categories .category_block {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 5px;
  margin-right: 5px;
  width: calc(25% - 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.main_catalogue .categories .category_block .block {
  background: #30415B;
  transition: all 0.5s;
  text-decoration: none;
  border: 1px solid #30415B;
  width: 16vw;
}
.main_catalogue .categories .category_block .block .category_img {
  width: 100%;
  height: 100%;
}
.main_catalogue .categories .category_block .block .category_title {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.main_catalogue .categories .category_block .block .category_title h3 {
  color: #ffffff;
  font-size: 17px;
  font-weight: 600;
  padding: 0 10px;
}
.main_catalogue .categories .category_block .block:hover {
  background: #31AAE2;
  border: 1px solid #31AAE2;
  box-shadow: 0px 0px 6px #000000a7;
}
.our_brands .brands_title {
  justify-content: center;
  margin-top: 70px;
}
.our_brands h2 {
  font-size: 40px;
  font-weight: 300;
  color: #2E3537;
  text-align: center;
}
.our_brands h2 .blue {
  color: #31AAE2;
}
.our_brands h2::after {
  margin-top: 15px;
  display: block;
  content: " ";
  width: 560px;
  height: 2px;
  border-bottom: 1px solid #CCCCCC;
}
.our_brands .slogan {
  width: 100%;
  text-align: center;
  color: #777777;
  font-size: 16px;
  margin-bottom: 40px;
  margin-top: 15px;
}
.our_news .news_title {
  justify-content: center;
  margin-top: 70px;
}
.our_news .news {
  justify-content: space-between;
}
.our_news h2 {
  font-size: 40px;
  font-weight: 300;
  color: #2E3537;
  text-align: center;
}
.our_news h2 .blue {
  color: #31AAE2;
}
.our_news h2::after {
  margin-top: 15px;
  display: block;
  content: " ";
  width: 560px;
  height: 2px;
  border-bottom: 1px solid #CCCCCC;
}
.our_news .slogan {
  width: 100%;
  text-align: center;
  color: #777777;
  font-size: 16px;
  margin-bottom: 40px;
  margin-top: 15px;
}
.our_news .news_block {
  width: 30%;
  padding: 25px;
  background: #ffffff;
  border: 1px solid #CCCCCC;
  display: flex;
  flex-direction: column;
}
.our_news .news_block .nb_title {
  margin-bottom: 25px;
}
.our_news .news_block .nb_title a {
  font-size: 22px;
  font-weight: 300;
  color: #2E3537;
  text-align: center;
}
.our_news .news_block .nb_text {
  color: #777777;
  font-size: 14px;
  margin-bottom: 30px;
}
.our_news .news_block .date {
  font-size: 14px;
  color: #CCCCCC;
  margin-bottom: 45px;
}
.our_news .news_block .goto_news {
  text-align: center;
}
.our_news .news_block .goto_news button {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  color: #31AAE2;
  background: #ffffff;
  border: 1px solid #31AAE2;
  width: 80%;
  padding: 5px 0;
  text-transform: uppercase;
  transition: all 0.5s;
  cursor: pointer;
}
.our_news .news_block .goto_news button:hover {
  color: #ffffff;
  background: #31AAE2;
  cursor: pointer;
}
.footer {
  background: #2E3537;
  padding-top: 80px;
  margin-top: 70px;
}
.footer .footer_block {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 5px;
  margin-right: 5px;
  width: calc(25% - 10px);
  padding: 0px 20px;
}
.footer .footer_block .fb_title {
  margin-bottom: 20px;
}
.footer .footer_block .fb_title h4 {
  font-size: 22px;
  color: #ffffff;
  text-transform: uppercase;
}
.footer .footer_block .fb_text {
  font-size: 13px;
  color: #ffffff82;
  margin-bottom: 30px;
}
.footer .footer_block .fb_content .contacts li {
  color: #ffffff;
  font-size: 13px;
  margin-bottom: 10px;
}
.footer .footer_block .fb_content .contacts li img {
  width: 10px;
  height: auto;
  margin-right: 5px;
}
.footer .footer_block .fb_content .contacts li a {
  color: #ffffff;
  text-decoration: none;
}
.footer .footer_block .fb_content .contacts li a:hover {
  text-decoration: underline;
}
.footer .footer_block .fb_content form {
  display: flex;
  flex-direction: column;
}
.footer .footer_block .fb_content form input {
  background: #2E3537;
  border: 1px solid #ffffff82;
  color: #ffffff82;
  font-size: 12px;
  width: 100%;
  padding: 3px 10px;
  margin-bottom: 10px;
}
.footer .footer_block .fb_content form button {
  background: #31AAE2;
  color: #ffffff;
  border: 1px solid #31AAE2;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
  padding: 0px 20px;
  margin: 0 auto;
}
.footer .footer_block .fb_content .fb_news {
  margin-bottom: 15px;
}
.footer .footer_block .fb_content .fb_news a {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
}
.footer .footer_block .fb_content .fb_news a:hover {
  text-decoration: underline;
}
.footer .footer_block .fb_content .fb_news .time {
  border-bottom: 1px solid #ffffff82;
}
.footer .footer_block .fb_content .fb_news .time ul {
  padding-bottom: 15px;
}
.footer .footer_block .fb_content .fb_news .time ul li {
  display: inline-flex;
  align-items: center;
  color: #ffffff82;
  font-size: 13px;
}
.footer .footer_block .fb_content .fb_news .time ul li img {
  width: 12px;
  height: auto;
  margin-right: 5px;
}
.footer .footer_block .fb_content .fb_menu ul li {
  margin-bottom: 5px;
}
.footer .footer_block .fb_content .fb_menu ul li img {
  width: 5px;
  height: auto;
}
.footer .footer_block .fb_content .fb_menu ul li a {
  margin-left: 10px;
  color: #ffffff82;
  text-decoration: none;
  font-size: 13px;
}
.footer .footer_block .fb_content .fb_menu ul li a:hover {
  text-decoration: underline;
}
.footer .copyright {
  font-size: 14px;
  color: #777777;
  padding: 20px;
}
@media only screen and (max-width: 1200px) {
  .sub-menu-head {
    color: orange;
  }
  .ic.menu {
    display: block;
  }
  header.dark .ic.menu .line {
    background-color: #fff;
  }
  header.light .ic.menu .line {
    background-color: #000;
  }
  .ic.menu .line {
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
  }
  .ic.menu:focus .line {
    background-color: #fff !important;
  }
  .ic.menu:focus .line:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .ic.menu:focus .line:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -10px;
  }
  .ic.menu:focus .line:nth-child(3) {
    transform: translateY(15px);
    opacity: 0;
  }
  .ic.menu:focus ~ .ic.close {
    opacity: 1;
    z-index: 21;
    outline: none;
  }
  /*
    
    .ic.menu:focus ~ .ic.close { opacity: 1.0; z-index : 21;  }
    .ic.close:focus { opacity: 0; }
    */
  .ic.menu:hover,
  .ic.menu:focus {
    opacity: 1;
  }
  nav {
    background-color: transparent;
  }
  /* Main Menu for Handheld Devices  */
  ul.main-nav {
    z-index: 2;
    padding: 50px 0;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 0px;
    background-color: #000000;
    height: 100%;
    overflow: auto;
    /*CSS animation applied : Slide from Right*/
    -webkit-transition-property: background, width;
    -moz-transition-property: background, width;
    -o-transition-property: background, width;
    transition-property: background, width;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
  }
  .ic.menu:focus ~ .main-nav {
    width: 300px;
    background-color: #000000;
  }
  ul.main-nav > * {
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    opacity: 0;
  }
  .ic.menu:focus ~ .main-nav > * {
    opacity: 1;
  }
  ul.main-nav > li > a:after {
    display: none;
  }
  ul.main-nav > li:first-child {
    border-radius: 0px;
  }
  ul.main-nav > li {
    display: block;
    border-bottom: 1px solid #444;
  }
  ul.main-nav > li > a {
    font-weight: 600;
  }
  ul.main-nav > li ul.sub-menu-lists > li a {
    color: #eee;
    font-size: 14px;
  }
  .sub-menu-head {
    font-size: 16px;
  }
  ul.main-nav > li:hover {
    background-color: transparent;
  }
  ul.main-nav > li:hover > a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  .ic.menu:focus ~ ul.main-nav > li > div.sub-menu-block {
    border-left: 0px solid #ccc;
    border-right: 0px solid #ccc;
    border-bottom: 0px solid #ccc;
    position: relative;
    visibility: visible;
    opacity: 1.0;
  }
  .sub-menu-block {
    padding: 0 30px;
  }
  .banners-area {
    padding-bottom: 0px;
  }
  .banners-area div {
    margin-bottom: 15px;
  }
  .banners-area {
    border-top: 1px solid #444;
  }
}
@media only screen and (min-width: 1201px) {
  .ic.menu {
    display: none;
  }
  /* Main Menu for Desktop Devices  */
  ul.main-nav {
    display: block;
    position: relative;
  }
  .sub-menu-block {
    padding: 15px;
  }
  /* Sub Menu */
  ul.main-nav > li > div.sub-menu-block {
    visibility: hidden;
    background-color: #f9f9f9;
    position: absolute;
    margin-top: 0px;
    width: 100%;
    color: #333;
    left: 0;
    box-sizing: border-box;
    z-index: 3;
    font-size: 16px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    opacity: 0;
    /*CSS animation applied for sub menu : Slide from Top */
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  ul.main-nav > li:hover > div.sub-menu-block {
    background-color: #f9f9f9;
    visibility: visible;
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  ul.main-nav > li > div.sub-menu-block > * {
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    opacity: 0;
  }
  ul.main-nav > li:hover > div.sub-menu-block > * {
    opacity: 1;
  }
  .sub-menu-head {
    font-size: 20px;
  }
  /* List Separator: Outer Border */
  header.dark ul.main-nav > li > a {
    border-right: 1px solid #bbb;
  }
  header.light ul.main-nav > li > a {
    border-right: 1px solid #666;
  }
  /* List Separator: Inner Border */
  ul.main-nav > li > a:after {
    content: '';
    width: 1px;
    height: 62px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 2;
  }
  header.dark ul.main-nav > li > a:after {
    background-color: #777;
  }
  header.light ul.main-nav > li > a:after {
    background-color: #999;
  }
  /* Drop Down/Up Arrow for Mega Menu */
  ul.main-nav > li > a.mega-menu > span {
    display: block;
    vertical-align: middle;
  }
  ul.main-nav > li > a.mega-menu > span:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    content: '';
    background-color: transparent;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
  }
  ul.main-nav > li:hover > a.mega-menu span:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 5px solid #666;
  }
  .banners-area {
    border-top: 1px solid #ccc;
  }
}
